@import './base.css';

body {
  overflow-x: hidden;
  overflow-y: auto;
  /* background-image: url('./wavy-lines.svg'); */
  background-size: cover;
  user-select: none;
}

code {
  margin: 2px;
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 6px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#app {
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px; */
}