@font-face {
  font-family: "Josefin Sans";
  src: url('./assets/JosefinSans.ttf')
}
@font-face {
  font-family: "Raleway";
  src: url('./assets/Raleway.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app {
  font-family: "Raleway";
  background-color: floralwhite;
  color: #222;
  margin: 0;
  padding: 0.5rem;
  gap: 0.25rem;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

button {
  background-color: white;
  border: solid #ddd 1px;
  padding: 0.25rem 0.4rem 0.1rem 0.4rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  color: black;
  font-weight: 300;
  cursor: pointer;
}
button:hover {
  filter: brightness(0.9);
}
button:active {
  outline: solid black 2px;
}

ul,ol {
  list-style: none;
}